@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer localizer;

@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">@localizer["Mis Tareas"]</h1>
</div>

<div id="contenedor-listado-tareas" class="text-center">
    <div class="text-start" data-bind="foreach: tareas">
        <div name="tarea" class="border mb-2 p-2" style="cursor: pointer">
            <div data-bind="text: titulo" class="fw-bold">

            </div>
        </div>
    </div>
    <div data-bind="visible: cargando" class="spinner-border">
        <span class="visually-hidden">Cargando...</span>
    </div>
</div>


@section Scripts {
    <script>
        const tareaListadoViewModel = {
            tareas: ko.observableArray([]),
            cargando: ko.observable(true)
        }

        setTimeout(() => {
            tareaListadoViewModel.tareas.push({titulo: 'tarea 1'});
            tareaListadoViewModel.cargando(false)
        }, 2000);

        ko.applyBindings(tareaListadoViewModel, document.getElementById('contenedor-listado-tareas'));

    </script>
}